.body {
  width: 100%;
  height: 100vh;
  display: flex;
}

.serverSideBar {
  background-color: #232629;
  min-width: 80px;
  height: 100%;
}

.chatContent {
  width: calc(100vw - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatHeader {
  background-color: #56595c;
  border-bottom: 5px solid #232629;
}

.serverName {
  color: #ffffff;
  font-size: 30px;
  padding: 20px 10px;
  font-weight: 500;
}

.chatMessages {
  flex: 1;
  background-color: #56595c;
  overflow-y: auto;
  padding: 5px 25px;
}

.inputContainer {
  background-color: #56595c;
  border-top: 5px solid #232629;
  padding: 10px;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  color: white;
  padding-bottom: 10px;
}

.messageSender {
  color: yellow;
  font-weight: bold;
}

.message {
  word-wrap: break-word;
}

.sendMessageInput {
  background-color: #6b6d70;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  padding-inline: 10px;
  width: 100%;
  height: 40px;
}
